input{
    border: none;
    border-radius: 8px;
    height: 30px;
}
.crud{
  
}

.addButton{
    width: 200px;
    margin-bottom: 50px;
    border-radius: 5px;
    color: #FFF;
}

.salvarButton{
    margin-bottom: 40px;
    border-radius: 10px;
    margin-top: 20px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}